tipoClases {
    background: #2ecc71;
    margin: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

tipoClases::before {
    content: "Examen Hasta 3er DAN";
    font-size: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    height: 60px;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border: white 5px solid;
    margin-top: 10px;
    margin-bottom: 20px;
}

aspirante::before {
    content: "Datos aspirante:";
    display: table-cell;
    border: red 1px solid;
    background: red;
    color: white;
    font-weight: bold;
    text-decoration: underline;
    padding-left: 2px;
}

dispensaMedica::before {
    content: "Dispensa médica:";
    display: table-cell;
    border-bottom: white 5px solid;
    background: green;
    color: white;
    font-weight: bold;
    text-decoration: underline;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

meritosAspirante::before {
    content: "Méritos del aspirante:";
    display: table-cell;
    border: red 2px solid;
    background: red;
    color: white;
    font-weight: bold;
    text-decoration: underline;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

tribunal::before {
    content: "Miembros del tribunal:";
    display: table-cell;
    border-top: blue 5px solid;
    border-left: blue 5px solid;
    border-right: blue 5px solid;
    background: lightblue;
    color: black;
    font-weight: bold;
    text-decoration: underline;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

Hasta3erDan::before {
    content: "Méritos del aspirante:";
    display: table-cell;
    border-bottom: white 5px solid;
    background: green;
    color: white;
    font-weight: bold;
    text-decoration: underline;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

criterios::before {
    content: "Criterios de evaluación:";
    display: table-cell;
    border-bottom: white 5px solid;
    background: green;
    color: white;
    font-weight: bold;
    text-decoration: underline;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

resultados::before {
    content: "Resultados finales:";
    display: table-cell;
    border-bottom: white 5px solid;
    background: green;
    color: white;
    font-weight: bold;
    text-decoration: underline;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

aspirante {
    margin-left: 10px;
    margin-right: 10px;
}

aspirante,
meritosAspirante {
    display: table;
    border: red 1px solid;
    background: rgb(255, 210, 127);
}

meritosAspirante {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    text-align: center;
    margin-bottom: 30px;
}

meritosAspirante id_aspirante:hover,
meritosAspirante edad_aspirante:hover,
meritosAspirante licenciaActualizada:hover,
meritosAspirante trabajoEscrito:hover {
    background: white;
    transition: 0.5s;
}

aspirante id_aspirante,
aspirante nombre,
aspirante apellidos,
aspirante DNI,
aspirante telefono,
aspirante direccion,
aspirante fecha_nacimiento,
aspirante dan,
aspirante cinturon,
aspirante fecha_ingreso_dan,
aspirante fotoAspirante,
aspirante tiempo_dan_anterior,
aspirante fotoDNI,
aspirante fotoCarnetGrados,
aspirante abonarCuota {
    display: table-cell;
    border: red 1.5px solid;
    padding: 5px;
    text-align: center;
}

meritosAspirante id_aspirante,
meritosAspirante edad_aspirante,
meritosAspirante licenciaActualizada,
meritosAspirante trabajoEscrito {
    display: block;
    border: red 1.5px solid;
    padding: 5px;
}

aspirante id_aspirante:hover,
aspirante nombre:hover,
aspirante apellidos:hover,
aspirante DNI:hover,
aspirante telefono:hover,
aspirante direccion:hover,
aspirante fecha_nacimiento:hover,
aspirante dan:hover,
aspirante cinturon:hover,
aspirante fecha_ingreso_dan:hover,
aspirante fotoAspirante:hover,
aspirante tiempo_dan_anterior:hover,
aspirante fotoDNI:hover,
aspirante fotoCarnetGrados:hover,
aspirante abonarCuota:hover {
    background: white;
    transition: 0.5s;
}

aspirante id_aspirante::before {
    content: "ID Aspirante: ";
    text-decoration: underline;
    font-weight: bold;

}

aspirante nombre::before {
    content: "Nombre: ";
    text-decoration: underline;
    font-weight: bold;

}

aspirante apellidos::before {
    content: "Apellidos: ";
    text-decoration: underline;
    font-weight: bold;

}

aspirante DNI::before {
    content: "DNI: ";
    text-decoration: underline;
    font-weight: bold;

}


aspirante telefono::before {
    content: "Teléfono: ";
    text-decoration: underline;
    font-weight: bold;

}

aspirante direccion::before {
    content: "Dirección: ";
    text-decoration: underline;
    font-weight: bold;

}


aspirante fecha_nacimiento::before {
    content: "Fecha de nacimiento: ";
    text-decoration: underline;
    font-weight: bold;

}

aspirante dan::before {
    content: "DAN: ";
    text-decoration: underline;
    font-weight: bold;

}

aspirante cinturon::before {
    content: "Cinturón: ";
    text-decoration: underline;
    font-weight: bold;

}

aspirante fecha_ingreso_dan::before {
    content: "Fecha ingreso DAN: ";
    text-decoration: underline;
    font-weight: bold;

}

aspirante fotoAspirante::before {
    content: "Foto aspirante: ";
    text-decoration: underline;
    font-weight: bold;

}

aspirante tiempo_dan_anterior::before {
    content: "Tiempo DAN anterior: ";
    text-decoration: underline;
    font-weight: bold;

}

aspirante fotoDNI::before {
    content: "Foto DNI: ";
    text-decoration: underline;
    font-weight: bold;

}

aspirante fotoCarnetGrados::before {
    content: "Foto Carnet Grados:: ";
    text-decoration: underline;
    font-weight: bold;

}

aspirante abonarCuota::before {
    content: "Cuota abonada: ";
    text-decoration: underline;
    font-weight: bold;
}

dispensaMedica dispensa:hover,
suspender suspendeParcial:hover,
suspender suspendeTotal:hover,
suspender suspendeSegundaFase:hover,
resultados resultado:hover {
    background-color: greenyellow;
    transition: 0.5s;
}

dispensaMedica,
examen Hasta3erDan,
suspender {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
}

tribunal juez {
    margin-left: 30px;
    margin-right: 30px;
}

dispensaMedica {
    display: block;
    background: white;
    padding: 5px;
}

criterios {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
}

dispensaMedica id_aspirante::before {
    content: "ID Aspirante: ";
    text-decoration: underline;
    font-weight: bold;
}

dispensaMedica dispensa::before {
    content: "Dispensa Médica: ";
    text-decoration: underline;
    font-weight: bold;
}

dispensaMedica id_aspirante {
    background: green;
    color: white;
    display: block;
    border: black 1px solid;
    padding: 10px;
}

dispensaMedica dispensa {
    background: rgb(0, 255, 0);
    display: block;
    border: black 1px solid;
    padding: 10px;
}

meritosAspirante id_aspirante::before {
    content: "ID Aspirante: ";
    text-decoration: underline;
    font-weight: bold;
}

meritosAspirante edad_aspirante::before {
    content: "Edad aspirante: ";
    text-decoration: underline;
    font-weight: bold;
}

meritosAspirante licenciaActualizada::before {
    content: "Licencia actualizada: ";
    text-decoration: underline;
    font-weight: bold;
}

meritosAspirante trabajoEscrito::before {
    content: "Trabajo escrito: ";
    text-decoration: underline;
    font-weight: bold;
}

tribunal juez {
    background-color: blue;
    display: block;
    padding: 5px;
}

tribunal juez id_juez {
    background: blue;
    display: list-item;
    margin-left: 20px;
    border: blue 1px solid;
    padding: 10px;
    color: white;
}

tribunal juez nombre,
tribunal juez apellidos,
tribunal juez diplomaJuez {
    background: lightblue;
    display: list-item;
    margin-left: 20px;
    border: blue 1px solid;
    padding: 10px;
}

tribunal juez id_juez:hover {
    background: white;
    transition: 0.5s;
    color: black;
}

tribunal juez nombre:hover,
tribunal juez apellidos:hover,
tribunal juez diplomaJuez:hover {
    background: white;
    transition: 0.5s;
}

tribunal juez id_juez::before {
    content: "ID Juez: ";
    text-decoration: underline;
    font-weight: bold;
}

tribunal juez nombre::before {
    content: "Nombre: ";
    text-decoration: underline;
    font-weight: bold;
}

tribunal juez apellidos::before {
    content: "Apellidos: ";
    text-decoration: underline;
    font-weight: bold;
}

tribunal juez diplomaJuez::before {
    content: "Diploma de juez: ";
    text-decoration: underline;
    font-weight: bold;
}

examen Hasta3erDan,
criterios {
    display: block;
    background: white;
    padding: 5px;
}

examen Hasta3erDan {
    margin-top: 30px;
}

examen Hasta3erDan tecnicas,
examen Hasta3erDan kata,
examen Hasta3erDan campeonatos,
criterios indumentaria,
criterios aseoPersonal,
criterios ejecucionTecnica,
criterios valores,
criterios respuestas {
    background: rgb(0, 255, 0);
    display: block;
    border: black 1px solid;
    padding: 10px;
}

examen Hasta3erDan kumite {
    background: red;
    display: block;
    border: black 1px solid;
    padding: 10px;
}

examen Hasta3erDan tecnicas:hover,
examen Hasta3erDan kata:hover,
examen Hasta3erDan campeonatos:hover,
criterios indumentaria:hover,
criterios aseoPersonal:hover,
criterios ejecucionTecnica:hover,
criterios valores:hover,
criterios respuestas:hover {
    background: greenyellow;
    transition: 0.5s;
}

examen Hasta3erDan kumite:hover {
    background: darkred;
    transition: 0.5s;
    color: white;
}

examen Hasta3erDan tecnicas::before {
    content: "Técnicas: ";
    text-decoration: underline;
    font-weight: bold;
}

examen Hasta3erDan kata::before {
    content: "Kata: ";
    text-decoration: underline;
    font-weight: bold;
}

examen Hasta3erDan kumite::before {
    content: "Kumite: ";
    text-decoration: underline;
    font-weight: bold;
}

examen Hasta3erDan campeonatos::before {
    content: "Campeonatos: ";
    text-decoration: underline;
    font-weight: bold;
}



criterios indumentaria::before {
    content: "Indumentaria: ";
    text-decoration: underline;
    font-weight: bold;
}

criterios aseoPersonal::before {
    content: "Aseo Personal: ";
    text-decoration: underline;
    font-weight: bold;
}

criterios ejecucionTecnica::before {
    content: "Ejecución Técnica: ";
    text-decoration: underline;
    font-weight: bold;
}

criterios valores::before {
    content: "Valores: ";
    text-decoration: underline;
    font-weight: bold;
}

criterios respuestas::before {
    content: "Respuestas: ";
    text-decoration: underline;
    font-weight: bold;
}

suspender {
    display: block;
    background: white;
    padding: 5px;
}

suspender id_aspirante::before {
    content: "ID Aspirante: ";
    text-decoration: underline;
    font-weight: bold;
}

suspender suspendeParcial::before {
    content: "Suspende parcial: ";
    text-decoration: underline;
    font-weight: bold;
}

suspender suspendeTotal::before {
    content: "Suspende total: ";
    text-decoration: underline;
    font-weight: bold;
}

suspender suspendeSegundaFase::before {
    content: "Suspende segunda fase: ";
    text-decoration: underline;
    font-weight: bold;
}

suspender id_aspirante {
    background: green;
    color: white;
    display: block;
    border: black 1px solid;
    padding: 10px;
}

suspender suspendeParcial {
    background: rgb(0, 255, 0);
    display: block;
    border: black 1px solid;
    padding: 10px;
}

suspender suspendeTotal {
    background: rgb(0, 255, 0);
    display: block;
    border: black 1px solid;
    padding: 10px;
}

suspender suspendeSegundaFase {
    background: rgb(0, 255, 0);
    display: block;
    border: black 1px solid;
    padding: 10px;
}

resultados {
    display: block;
    background: white;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

resultados id_aspirante::before {
    content: "ID Aspirante: ";
    text-decoration: underline;
    font-weight: bold;
}

resultados resultado::before {
    content: "Resultado final: ";
    text-decoration: underline;
    font-weight: bold;
}

resultados resultado {
    font-size: 200%;
}

resultados id_aspirante {
    background: green;
    color: white;
    display: block;
    border: black 1px solid;
    padding: 10px;
}

resultados resultado {
    background: rgb(0, 255, 0);
    display: block;
    border: black 1px solid;
    padding: 10px;
}