html {
  background: #2ecc71;
  font-family: Cambria,
    Cochin,
    Georgia,
    Times,
    'Times New Roman',
    serif;
}

header {
  font-size: 300%;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

#about,
#about::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#about::before,
#about::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

#about:hover {
  color: #2ecc71;
}

#about {
  overflow: hidden;
  width: 115px;
  height: 25px;
  z-index: 99999;
  background: greenyellow;
  border: 3px solid #fff;
  border-radius: 5px;
  color: black;
  display: block;
  font-weight: bold;
  position: absolute;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  line-height: 100px;
  text-decoration: none;
  width: 500px;
  height: 100px;
  font-size: 200%;
}

#about::after {
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}

#about:hover:after {
  height: 100%;
  width: 135%;
}